/* :root {
    --background: #1e90ff;
    --button: #cb1414; 
    --text: #299827; 
  } */
  
  .bgImage{
    background-image: url(../src/Images/image2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

  }
  /* .bg2Image{
    background-image: url(../src/Images/images3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  } */